<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let personaje of characters">
        <div class="card">
            <div class="image">
                <a [routerLink]="['/personaje', personaje.id]">
                    <img [src]="personaje.image" [alt]="personaje.name" class="card-img-top">    
                </a>
            </div>
            
            <div class="card-inner">
                <div class="header">
                    <a [routerLink]="['/personaje', personaje.id]">
                        <h2>{{personaje.name}}</h2>
                    </a>
                    <h4 class="text-muted">Especie: {{personaje.species}}</h4>
                    <small class="text-muted">Estado: {{personaje.status}}</small>
                </div>
            </div>

        </div>






    </div>
    <div  class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound" *ngIf="characters.length == 0">
       <p>No results....</p>
    </div>
</div>

<button class="btn btn-dark">
    Mas
</button>